$prefix: 'c';
$white: #ffffff;
@import 'baraja.scss';
@import 'circle.scss';
@import 'glider.scss';

body {
  overflow-x: hidden;
  margin: 0;
}

li {
  list-style: none;
}

.#{$prefix} {

  &-close {
    display: none;
  }

  &-open {
    display: block;
  }

  &-wrapper {
    background-image: url('/img/mesa.png');
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
  }

  &-table {
    position: absolute;
    top: 30%;
    left: 110px;
    transform: perspective(375px) rotateX(15deg);
  }

  &-group {

    &-4 {
      @include on-circle($item-count: 4, $circle-size: 150px, $item-size: 60px);

      li.#{$prefix}-gamer {

        &:nth-child(1) {
          .baraja-game {
            transform: rotate(270deg);
          }
        }
        &:nth-child(2) {
          .baraja-game {
            transform: rotate(0deg);
          }
          .baraja-container {
            width: 80px;
          }
        }
        &:nth-child(3) {
          .baraja-game {
            transform: rotate(90deg);
          }
        }
        &:nth-child(4) {
          .baraja-game {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &-cemetery {
    position: absolute;
    width: 40px;
    top: 35%;
    left: 45%;

    &-cards {
      padding: 0;

      img {
        width: 100%;
      }

      li {
        position: absolute;
      }
    }
  }

  &-sidebar {
    position: absolute;
    bottom: 0;
    overflow: hidden;

    ul {
      width: 100vw;
      padding: 0;
    }

    img {
      width: 60px;
      height: auto;
      background-color: #ffffff;
      border-radius: 2px;
    }
  }

  &-selected {

    .overlay {
      position: absolute;

      &::after {
        background-image: url('/img/check.png');
        background-size: 100% 100%;
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        left: 15px;
        top: 30px;
      }
    }
  }

  &-toolbar {
    width: 98vw;
    height: 60px;

    button {
      float: right;
      width: 60px;
      height: 50px;
    }
  }

  &-modal {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $white;

    .close-modal {
      position: absolute;
      right: 20px;
    }

    h1 {
      text-align: center;
      padding-top: 60px;
    }

    input {
      display: block;
      margin: 20px auto;

      &[type="text"] {
        min-width: 180px;
      }

      &[type="submit"] {

      }
    }
    
  }
}

@media (max-width: 600px) {

}